<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SelvetAndFile</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
     <servlet-name>AdminServlet</servlet-name>
     <servlet-class>Servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
     <servlet-name>AdminServlet</servlet-name>
     <url-pattern>/Adm</url-pattern>
  </servlet-mapping> 
  
  <filter>
  	<filter-name>AdminFilter</filter-name>
  	<filter-class>Filter.AdminFilter</filter-class>
  	
  </filter>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<url-pattern>/admin/*</url-pattern>
  	
  </filter-mapping>
</web-app>